.number-wrap span {
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    font-weight: bold;
}

.numbers,
.number {
    height: 50px;
}

.percentage {
    font-size: 20px;
    margin-left: 4px;
    align-self: flex-start;
}

.number2 .number-wrap,
.number3 .number-wrap {
    height: 500px;
}

.number1 .number-wrap {
    height: 50px;
}

.pre-welcome .line {
    height: 24px;
    font-size: 16px;
    margin-block: 6px;
    overflow: hidden;
}

.pre-welcome .line p {
    transform: translateY(-100%);
}

.pre-welcome {
    position: absolute;
    top: 45%;
    left: 10%;
}

.welcome {
    transform: translateY(100%);
}

@media (min-width: 640px) {
    .number-wrap span {
        height: 60px;
        line-height: 60px;
        font-size: 55px;
    }

    .numbers,
    .number {
        height: 60px;
    }

    .percentage {
        font-size: 25px;
    }

    .number2 .number-wrap,
    .number3 .number-wrap {
        height: 600px;
    }

    .number1 .number-wrap {
        height: 60px;
    }

    .pre-welcome .line {
        height: 28px;
        font-size: 18px;
        margin-block: 7px;
    }

    .pre-welcome {
        left: 15%;
    }
}

@media (min-width: 1024px) {
    .number-wrap span {
        height: 80px;
        line-height: 80px;
        font-size: 72px;
    }

    .numbers,
    .number {
        height: 80px;
    }

    .percentage {
        font-size: 30px;
    }

    .number2 .number-wrap,
    .number3 .number-wrap {
        height: 800px;
    }

    .number1 .number-wrap {
        height: 80px;
    }

    .pre-welcome .line {
        height: 30px;
        font-size: 20px;
        margin-block: 8px;
    }

    .pre-welcome {
        left: 20%;
    }
}
